<h3 class="mg-bottom-15">困りごと一覧</h3>
<div class="row" style="width: 95%;">
  <% @problems.each do |problem| %>
    <div class="col-sm-3 mg-bottom-15">
      <%= render 'problem_card', problem: problem %>
    </div>
  <% end %>
</div>
<%= paginate @problems %>
