<h1>You got a new response, from Hukurepo</h1>

<p>
<%= @greeting %> <%= @user.name %>, you got a new response from Hukurepo.<br>
<%= link_to 'CLICK HERE!', "https://#{ENV['SERVER_DOMAIN']}/v1/run_smartphone_app" %> to check the response!
</p>
