<h1>You got a new response, from Tsukurepo</h1>

<p>
<%= @greeting %> <%= @user.name %>, you got a new response from Tsukurepo.<br>
<%= link_to 'CLICK HERE!', "http://#{ENV['SERVER_DOMAIN']}/v1/run_smartphone_app" %> to check the response!
</p>
