@import "bootstrap";

$tsukuba-blue: #01a8ec;
$tsukuba-green: #2bb46e;
$original-purple: #725CA4;
$original-tarquoise: #04AEE6;
$original-yellow: #EBB763;

.bg-tsukuba-blue {
  background-color: $tsukuba-blue;
}

.bg-purple {
  background-color: $original-purple;
}

.bg-turquoise {
  background-color: $original-tarquoise;
}

.bg-yellow {
  background-color: $original-yellow;
}

.mg-bottom-15 {
  margin-bottom: 15px;
}
.mg-top-30 {
  margin-top: 30px;
}

.card-h100 {
  height: 100px;
  margin-bottom: 45px;
  padding: 10px;
}

.card-h130 {
  height: 130px;
  margin-bottom: 45px;
  padding: 10px;
  margin: 0 auto;
}

.card-number {
  font-size: 2.2em;
}

.card-number-lg {
  font-size: 3.5em;
}

.card-title {
  font-size: 1.2em;
  margin-bottom: 5px;
}

